.override {
    background-image: url(https://cdn.wallpapersafari.com/31/5/RuyK1a.gif);
    background-size: cover;
    color: white;

}
.body {
    color: white;
    background-color: black;
}

.scrollable {
    color: white;
    background-color: black;
    
}

.container-fluid {
    color: white;
    background-color: black;
}

footer {
    color: white;
    background-color: black;
}

.social-sidebar .social-sidebar-content .scrollable {
    background-color: black;
    color: white;
}