.override {
    background-image: url(https://media0.giphy.com/media/eJoZAwRN9OI5QjthIE/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.body {
    background-image: url(https://media0.giphy.com/media/eJoZAwRN9OI5QjthIE/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    background-color: black;
}

<<<<<<< HEAD
.alert-info {
    background-image: url(https://media0.giphy.com/media/eJoZAwRN9OI5QjthIE/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
=======
.scrollable {
>>>>>>> master
    color: white;
    background-color: black;
    
}

<<<<<<< HEAD
.social-sidebar .social-sidebar-content .scrollable {
    background-image: url(https://media0.giphy.com/media/eJoZAwRN9OI5QjthIE/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
=======
.container-fluid {
    color: white;
>>>>>>> master
    background-color: black;
}

p {
    color: white;
    background-color: black;
}

.alert .alert-info {
    background-color: transparent;
    color: white;
}

#footer.footer-sidebar-full {
    background-image: url(https://media0.giphy.com/media/eJoZAwRN9OI5QjthIE/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

* {
    color: white;
    background: transparent;
}